#outputText {
  display: none;
}

.jumbotron {
  margin-bottom: 0px;
  background-color: teal;
}

body {
  background-color: lightseagreen;
}

h4 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  animation: fontchange 5s infinite;
}

@keyframes fontchange {
  50% {
    font-size: 40px;
  }
}
